  <!-- <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div> -->
  <app-entry></app-entry>
  <app-about></app-about>
  <app-skills-card></app-skills-card>
  <app-projects></app-projects>
  <app-footer></app-footer>


