<header class="header">
<div class="header__title">
  <span class="header__title--name">
  gintare simkuniene
  </span>
  <span class="header__title--about">
    front-end developer
  </span>

  <ul class="header__links">
    <li class="list-item"><a href="https://www.facebook.com/gintare.banelyte"><img src="../../assets/facebook.svg" alt="facebook"></a></li>
    <li class="list-item"><a href="https://www.linkedin.com/in/gintar%C4%97-%C5%A1imk%C5%ABnien%C4%97/"><img src="../../assets/linkedin.svg" alt="linkedin"></a></li>
    <li class="list-item"><a href="https://github.com/amberseas"><img src="../../assets/github.svg" alt="github"></a></li>
  </ul>
</div>



</header>
