<section class="section-about">
  <div class="container">
    <div class="col-1-of-2">
      <h3 class="title">a bit about me</h3>
      <p class="paragraph">I have Bachelor's degree in Nanotechnology and materials science,
        although I was never fully satisfied with my job and all the smelly chemicals
        <span class="material-symbols-outlined">
        science
        </span>
        Once I had a little more free time, I decided to challenge myself and learn something new.
        I jumped into the world of software engeneering hungry, absorbing everything I need to become
        a good programmer. I instantly fell inlove with front-end development and that keeps me motivated
        to learn as much as I can every day.
      </p>
    </div>
    <div class="col-1-of-2">  <div class="border"></div>
      <div class="composition">
        <div class="composition__border"></div>
        <div class="composition__image-box">
          <img class="image" src="../../assets/my-photo-3.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
