<div class="project-container">
  <img class="image" src="{{project?.imageUrl}}" alt="natours">
  <div class="info-container">
    <h3 class="title">{{project?.name}}</h3>
    <p class="skills">Built using {{project?.skills}}.</p>
    <div class="link-container">
      <a class="link" href="{{project?.codeLink}}">
        <i class="fa-solid fa-code fa-2xl"></i>
      </a>
      <a class="link" href="{{project?.liveLink}}">
        <i class="fa-solid fa-display fa-2xl"></i>
      </a>
    </div>
  </div>
</div>
