.section-skills {
  background-image: url(../../assets/background-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%);
          clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%);
  height: 70rem;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .section-skills {
    height: 90rem;
  }
}
.section-skills .card {
  width: 70%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 112.5em) {
  .section-skills .card {
    width: 50%;
  }
}
.section-skills .card__title {
  color: #03071e;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 4rem;
  padding-bottom: 0;
}
@media only screen and (max-width: 37.5em) {
  .section-skills .card__title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-skills .card__title {
    padding-left: 1.5rem;
  }
}
.section-skills .card__info {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .section-skills .card__info {
    flex-direction: column;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-skills .card__info {
    padding: 1.5rem;
  }
}
.section-skills .card__info .paragraph {
  font-size: 2rem;
  line-height: 3rem;
  width: 45%;
  text-align: justify;
  margin: 0;
}
@media only screen and (max-width: 56.25em) {
  .section-skills .card__info .paragraph {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-skills .card__info .paragraph {
    font-size: 1.5rem;
    text-align: left;
  }
}
.section-skills .card__icons-container {
  font-size: 3rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(3, 7rem);
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .section-skills .card__icons-container {
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(4, 7rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .section-skills .card__icons-container {
    font-size: 2.5rem;
    width: 100%;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(3, 7rem);
  }
}
@media only screen and (max-width: 37.5em) {
  .section-skills .card__icons-container {
    font-size: 2rem;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(4, 6rem);
  }
}
.section-skills .card__icons-container div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-skills .card__icons-container div p {
  opacity: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s;
}
.section-skills .card__icons-container div p:hover {
  transform: scale(1.2);
}
.section-skills .card__icons-container div .icon {
  transition: all 0.5s;
}
.section-skills .card__icons-container div:hover > .icon {
  opacity: 0;
  transform: scale(1.2);
}
.section-skills .card__icons-container div:hover > p {
  opacity: 1;
  transform: scale(1.2);
}/*# sourceMappingURL=skills-card.component.css.map */