<section class="section-skills">
  <div class="card">
    <h3 class="card__title">My skills set</h3>
    <div class="card__info">
      <p class="paragraph">
        I am focused on Frontend development of modern web applications with high-quality features and responsive web design.
        These are the skills, that I acquired during many courses and projects, which are sharpened
        through my everyday learning.
        </p>
      <div class="card__icons-container">
        <div style="color: #e34c26;">
          <p>HTML</p>
          <i class="icon fa-brands fa-html5 fa-2xl"></i>
        </div>
        <div style="color: #264de4;">
          <p>CSS</p>
          <i class="icon fa-brands fa-css3-alt fa-2xl"></i>
        </div>
        <div style="color: #CD6799;">
          <p>Sass</p>
          <i class="icon fa-brands fa-sass fa-2xl"></i>
        </div>
        <div style="color: #f7df1e;">
          <p>Javascript</p>
          <i class="icon fa-brands fa-square-js fa-2xl"></i>
        </div>
        <div style="color: #B52E31;">
          <p>Angular</p>
          <i class="icon fa-brands fa-angular fa-2xl"></i>
        </div>
        <div style="color: #007acc;">
          <p>Typescript</p>
          <img style="width: 6rem;" class="icon" src="../../assets/icons8-typescript.svg" alt="typescript">
        </div>
        <div style="color: #3C873A;">
          <p>Node js</p>
          <i class="icon fa-brands fa-node fa-2xl"></i>
        </div>
        <div style="color: #CC3534;">
          <p>NPM</p>
          <i class="icon fa-brands fa-npm fa-2xl"></i>
        </div>
        <div style="color: #B52E31;">
          <p>git</p>
          <i class="icon fa-brands fa-git-alt fa-2xl"></i>
        </div>
        <div style="color: #171515;">
          <p>github</p>
          <i class="icon fa-brands fa-github fa-2xl"></i>
        </div>
      </div>
    </div>
  </div>
</section>
