<header class="header">
  <div class="header__logo-box">
    <img class="logo" src="../../assets/logo-large.gif" alt="logo" loop="false">
  </div>

  <nav class="header__nav">
    <ul class="navigation__list">
      <li class="navigation__item "><a href="#" class="navigation__link highlight">Home</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Skills</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Projects</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Contacts</a></li>
  </ul>
  </nav>
</header>
