@import '../shared/mixins.scss';

.footer {
  width: 100%;
  padding: 3rem;
  background-color: #2d322e;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.7rem;
  position: relative;

  .row {
    display: flex;
    justify-content: center;
  }

  .col-1-of-2 {
    width: 45%;
    position: relative;
    display: flex;
  }

  .right {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 5rem
  };

  .left {
    padding-right: 5rem;
    align-items: baseline;
    gap: 2rem;

    @include respond(tab-land) {
      flex-direction: column;
    }
  }

  &__logo-box {
    margin: 1rem auto;
    width: 9rem;
    clip-path: polygon(10% 10%, 50% 0, 90% 10%, 100% 50%, 90% 90%, 50% 100%, 10% 90%, 0 50%);

    img {
      width: 100%;
    }

    @include respond(tab-port) {
      width: 7rem;
    }
  }

  &__info {
    width: 30rem;
    .paragraph {
      margin: 0;

    }
  }

  &__contacts {
    .phone {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__links {
    height: 3rem;
    margin-bottom: 4rem;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 3rem;

    .list-item {
      width: 2.5rem;
      transition: all .2s ;

      &:hover{
        width: 3rem;
      }
    }
  }

}
